.img-account-profile {
    width:50%;
}
.rounded-circle {
    border-radius: 50% !important;
}

.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.accountPageContainer{
    margin: 2% auto;
}

.accountCardBody .emailIcon{
    position: absolute;
    top: 72%;
    transform: translateY(-50%);
    left: 0.5rem;
}

.accountCardBody .inputGroup input{
    padding-left: 40px;
}

.accountCardBody .inputGroup{
    position: relative;

}

.saveChangesButton{
    background-color: #2C394B;
    border-color: #082032;
}