@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.carousel {
  width: 100%;
  margin: 0 auto;
  height: auto;
  background-color: black
  
}

.slide img {
  width: 100%;
  margin: 32px auto;
  border-radius: 4%;
  height: 600px;
}

.slide {
  transform: scale(0.65);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1);
  opacity: 1;
}

.arrow {
  background-color: none;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  color: white;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}